.summary-wrapper {
   justify-content: center;
}
.card-wrapper {
    width: 450px;
    height: 200px;
    .title-class {
       padding-top: 1vh;
    }
    .value-class {
        font-weight: 600;
        font-size: larger;
    }
}
.metrics-wrapper {
    display: flex;    
    flex-wrap: nowrap;
    gap: 20px;
    
}
.divider {
    margin: 3vh 0;
}