.card-class {
	// width: 25%;
	background-color: #fff;
	border-radius: 16px;
	padding: 16px;
	min-width: 200px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	.title {
		font-weight: 600;
		color: #2196f3;
	}
	.count-value {
		font-weight: 700;
		font-size: 24px;
		margin-top: 8px;
	}
}
